@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,800;0,900;1,800;1,900&family=Press+Start+2P&display=swap');

*{
    padding: 0;
    margin: 0;
}

html, body {
    font-family: 'Press Start 2P', sans-serif;
    color: aliceblue;
    text-shadow: 2px 4px black;
}

body{
    background-color: #0b1270;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.ajh-hearder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ajh-hearder h1 {
    padding: 10px 5px;
    font-size: 30px;
}

.ajh-hearder h2 {
    margin-top: 15px;
    padding: 12px 5px;
    font-size: 23px;
}

.button {
    background-color: #16368d;
    font-family: 'Press Start 2P', sans-serif;
    width: 300px;
    height: 50px;
    text-shadow: 1px black;
    box-shadow: 3px 4px black;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    background-color: #1a51b8;
    width: 320px;
    height: 45px;
}